body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gr{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.students{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.row{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-evenly;
    border-bottom: 1px dotted gray;
    margin: 5px 0;
}
#result{
    display: none;
}