body {
    background: linear-gradient(rgb(163, 224, 255), rgb(97, 179, 215));
    background-repeat: no-repeat;
}

#body {
    height: 100vh;
}

/* в проекте могут быть корзина скроллинги анимация выпадающие мегюшки модальные окна и адаптивный сайт!!! */